.achieve .achievement{
    padding: 20px;
    height: 170px;
    width: 400px;
    max-width: 95%;
    text-align: center;
    box-shadow: 10px 10px 40px #9df0e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color:  #8D8D8D;
}
.achieve-num{
    font-size: 50px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.achieve:nth-child(1) .achievement , .achieve:nth-child(4) .achievement{
    border-radius: 0px 80px!important;
    margin: 10px;   
}
.achieve:nth-child(2) .achievement, .achieve:nth-child(3) .achievement{
    border-radius: 80px 0!important;
    margin: 10px;   
}
.achieve:nth-child(1) .achievement {
    background: linear-gradient(to right, rgba(4, 182, 231, 0.774), #17d6b3e1);
    color: white
}
.achieve .achievement:hover{
    background: linear-gradient(to right, rgba(4, 182, 231, 0.774), #17d6b3e1);
    color: white
}